version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: ecommerce_db
    environment:
      POSTGRES_DB: railway
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: jnvdhDWNWrKNlZmYZNnYurkogwavyFXP
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: ecommerce_web
    command: >
      sh -c "python manage.py migrate &&
             python manage.py createsuperuser --noinput --username admin --email admin@example.com ||true &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      DEBUG: "True"
      DB_ENGINE: django.db.backends.postgresql
      DB_NAME: railway
      DB_USER: postgres
      DB_PASSWORD: jnvdhDWNWrKNlZmYZNnYurkogwavyFXP
      DB_HOST: nozomi.proxy.rlwy.net
      DB_PORT: 58044
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  static_volume:
  media_volume:
